{% extends 'base.html' %}

{% block content %}

{% include 'propuesta2/sections/00-cover.html' %}
{% include 'propuesta2/sections/01-objetivo.html' %}
{% include 'propuesta2/sections/02-alcance.html' %}
{% include 'propuesta2/sections/03-descripcion.html' %}
{% include 'propuesta2/sections/04-criterios_diseno.html' %}
{% include 'propuesta2/sections/04,2-arquitectura_red_cableado.html' %}
{% include 'propuesta2/sections/05-equipos_principales.html' %}
{% include 'propuesta2/sections/05,2-equipos_productos.html' %}
{% include 'propuesta2/sections/05,3-equipos_productos.html' %}
{% include 'propuesta2/sections/05,4-equipos_productos.html' %}
{% include 'propuesta2/sections/06-calculos_diseno.html' %}
{% include 'propuesta2/sections/06,1-calculos_diseno.html' %}
{% include 'propuesta2/sections/06,2-calculos_diseno.html' %}
{% include 'propuesta2/sections/06,3-calculos_diseno.html' %}
{% include 'propuesta2/sections/07-spl.html' %}
{% include 'propuesta2/sections/07,1-spl.html' %}
{% include 'propuesta2/sections/07,2-spl.html' %}
{% include 'propuesta2/sections/08-sti.html' %}
{% include 'propuesta2/sections/08,1-sti.html' %}
{% include 'propuesta2/sections/08,2-sti.html' %}
{% include 'propuesta2/sections/08,3-sti.html' %}

{% include 'propuesta2/sections/09,1-calculos_cargas.html' %}
{% include 'propuesta2/sections/09,2-calculos_cargas.html' %}
{% include 'propuesta2/sections/09,3-calculos_cargas.html' %}
{% include 'propuesta2/sections/09,4-calculos_cargas.html' %}
{% include 'propuesta2/sections/09,5-calculos_cargas.html' %}
{% include 'propuesta2/sections/09,6-calculos_cargas.html' %}
{% include 'propuesta2/sections/09,7-calculos_cargas.html' %}
{% include 'propuesta2/sections/09,8-calculos_cargas.html' %}
{% include 'propuesta2/sections/09,9-calculos_cargas.html' %}
{% include 'propuesta2/sections/09,10-calculos_cargas.html' %}
{% include 'propuesta2/sections/09,11-calculos_cargas.html' %}

{% include 'propuesta2/sections/16-conclusiones.html' %}

{% endblock %}