<!-- PAGINA 9: Mas imagenes de spl -->
<div class="page">
    <header class="page-header">
        <span class="brand">Direcsa</span>
        <span class="doc-info">SISTEMA DE VOCEO Y PAGING | Rev. A</span>
    </header>

    <main>
        <section>
            <h2><span class="sec-index">07 /</span> RESULTADOS DE SIMULACIÓN SPL</h2>
            <p>La distribución de altavoces y su orientación fueron desarrolladas
                considerando altura de montaje,
                cobertura longitudinal y control de directividad, permitiendo mantener niveles adecuados de presión
                sonora sobre las áreas de operación del Centro de Distribución.
            </p>

            <p>Los resultados obtenidos muestran niveles promedio cercanos a 85 dB SPL, manteniendo variaciones
                controladas dentro del recinto y permitiendo condiciones adecuadas para reproducción de mensajes
                operativos y anuncios de paging.
            </p>

            <p>La utilización de altavoces con patrón de cobertura asimétrico permitió optimizar la distribución de
                energía acústica sobre áreas útiles, reduciendo dispersión innecesaria hacia techo y superficies
                reflectivas.</p>
            <div class="grid-2" style="gap: 12px; grid-template-columns: repeat(1, 1fr); margin-top: 10px;">
                <div class="visual-container" style="padding: 6px; margin-bottom: 0; justify-content: center;">
                    <img src="{{ images['spl2'] }}" alt="Simulación SPL 1"
                        style="width: 100%; height: 100%; object-fit: contain;">
                    <span class="visual-caption" style="font-size: 0.65rem; margin-top: 4px; font-weight: 600;">Fig
                        1.2: Cobertura SPL</span>
                </div>

                <div class="visual-container" style="padding: 6px; margin-bottom: 0; justify-content: center;">
                    <img src="{{ images['spl3'] }}" alt="Simulación SPL 1"
                        style="width: 100%; height: 100%; object-fit: contain;">
                    <span class="visual-caption" style="font-size: 0.65rem; margin-top: 4px; font-weight: 600;">Fig
                        1.3: Cobertura SPL</span>
                </div>

            </div>
        </section>
    </main>

    <footer class="page-footer">
        <span class="confidential">Confidencial - STAV Electronica</span>
        <span>Página 9</span>
    </footer>
</div>