<div class="page">
    <header class="page-header">
        <span class="brand">Direcsa</span>
        <span class="doc-info">SISTEMA DE VOCEO Y PAGING | Rev. A</span>
    </header>

    <main>
        <section>
            <p>Carga por cada amplificador</p>
            <br>
            <p><strong>Amplificador 1</strong></p>
            <p>
                Carga total: P = 2300 W
            </p>
            <p>
                Corriente total de salida:
            </p>

            <div class="math-block">
                <div class="math-formula"><i>I</i> = 2300W / 100V = 23A</div>
            </div>
            <p>Por canal</p>
            <div class="table-wrapper" style="margin-bottom: 16px;">
                <table>
                    <thead>
                        <tr>
                            <th>Canal</th>
                            <th>Potencia</th>
                            <th>Corriente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CH1</td>
                            <td>600 W</td>
                            <td>6.0 A</td>
                        </tr>
                        <tr>
                            <td>CH2</td>
                            <td>300 W</td>
                            <td>3.0 A</td>
                        </tr>
                        <tr>
                            <td>CH3</td>
                            <td>300 W</td>
                            <td>3.0 A</td>
                        </tr>
                        <tr>
                            <td>CH4</td>
                            <td>1100 W</td>
                            <td>11.0 A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br><br>
            <p><strong>Amplificador 2</strong></p>
            <p>Carga total: </p>
            <div class="math-block">
                <div class="math-formula"><i>I</i> = 1800W / 100V = 18A</div>
            </div>


        </section>
    </main>

    <footer class="page-footer">
        <span class="confidential">Confidencial - STAV Electronica</span>
        <span>Página 19</span>
    </footer>
</div>