<div class="page">
    <header class="page-header">
        <span class="brand">Direcsa</span>
        <span class="doc-info">SISTEMA DE VOCEO Y PAGING | Rev. A</span>
    </header>

    <main>
        <section>
            <p>Consumo real máximo de línea de 100V por amplificador:
            </p>

            <div class="math-block">
                <div class="math-step">Amplificador 1</div>
                <div class="math-formula">823 x (2300 / 6400) 296WI = 296 / 127 = 2.33A</div>
                <br>
                <div class="math-step">Amplificador 2</div>
                <div class="math-formula">823 x (1800 / 6400) 231WI = 231 / 127 = 1.82A</div>
                <br>
                <div class="math-step">Amplificador 3</div>
                <div class="math-formula">823 x (1200 / 6400) 154WI = 154 / 127 = 1.21A</div>
                <br>
            </div>
            <h4><span class="sec-index">09.2 / </span>C&aacute;lculo de suspenci&oacute;n</h4>
            <br>
            El peso del gabinete CCA-80D es de 32&nbsp;kg, incluyendo los elementos de suspensi&oacute;n.
            <br><br>
            <p>Para determinar la suspensi&oacute;n necesaria, se utiliza la siguiente f&oacute;rmula:</p>

            <div class="math-block">
                <div class="math-formula"><i>F</i> = <i>m</i> × <i>g</i> = 32&nbsp;kg × 9.8&nbsp;m/s&sup2; =
                    313.6&nbsp;N</div>
            </div>
            <p>Factor de seguridad recomendado 5:1</p>

            <div class="math-block">
                <div class="math-formula"><b>F<sub>diseño</sub></b> = Carga<sub>real</sub> &times; FS = 32 kgf &times; 5
                    = <b>160 kgf</b></div>
            </div>

            <br>
            <p>
                <strong>Recomendaci&oacute;n: </strong> Esp&aacute;rrago M12
            </p>





        </section>
    </main>

    <footer class="page-footer">
        <span class="confidential">Confidencial - STAV Electronica</span>
        <span>Página 21</span>
    </footer>
</div>