    <div class="page">
        <header class="page-header">
            <span class="brand">Direcsa</span>
            <span class="doc-info">SISTEMA DE VOCEO Y PAGING | Rev. A</span>
        </header>

        <main>
            <section style="margin-bottom: 24px;">
                <div class="product-grid" style="margin-top: 24px;">
                    <div class="product-card">
                        <img src="assets/products/CCA-80D.png" alt="Biamp CCA‑80D" class="product-image" />
                        <div class="product-desc">
                            <strong>Altavoz interior CCA‑80D</strong>:
                            <p style="font-size: 10px;">
                                Altavoz de rango completo tridireccional
                                (115 Hz‑14 kHz) con guía vertical asimétrica (relación 6:1) que brinda cobertura
                                constante
                                en pasillos largos. Diseño de tres vías triaxial para voz clara y música, integrado con
                                transformadores 70 V/100 V, reduce costos de instalación y permite montaje flexible.
                                compatible con simulación Audition.
                            </p>
                        </div>
                    </div>
                    <div class="product-card">
                        <img src="assets/products/R15-3696.png" alt="Biamp R.15‑3696" class="product-image" />
                        <div class="product-desc">
                            <strong>Altavoz exterior R.15‑3696</strong>:
                            <p style="font-size: 10px;">
                                Altavoz de 3 vías, gris, resistente a la
                                intemperie, ideal para campos deportivos y almacenes. Proporciona música de fondo y voz
                                inteligente, alta sensibilidad con bajo consumo, envoltura ABS polítrica, rejilla
                                resistente
                                al agua, auto‑transformador 100 W (4 Ω o 70 V/100 V), chasis zincado y pintura en polvo.
                            </p>
                        </div>
                    </div>
                </div>

            </section>
        </main>

        <footer class="page-footer">
            <span class="confidential">Confidencial - STAV Electronica</span>
            <span>Página 13</span>
        </footer>
    </div>
