<!-- PAGINA 11: Imagenes de sti -->
<div class="page">
    <header class="page-header">
        <span class="brand">Direcsa</span>
        <span class="doc-info">SISTEMA DE VOCEO Y PAGING | Rev. A</span>
    </header>

    <main>
        <section>
            <p style="margin-top: 30px;">La predicción STI (Speech Transmission Index) demuestra condiciones
                adecuadas de inteligibilidad
                para
                aplicaciones de voceo y paging industrial dentro del recinto.
            </p>

            <p>El diseño fue desarrollado priorizando la relación entre sonido directo y campo reverberante,
                utilizando
                altavoces de cobertura controlada y criterios de orientación orientados a mejorar la claridad de voz
                dentro de espacios de gran volumen y altura elevada.
            </p>

            <p>Los resultados obtenidos muestran valores promedio STI de 0.594, considerados adecuados para
                aplicaciones de comunicación operativa en entornos industriales, permitiendo una correcta
                reproducción e
                interpretación de mensajes de voz dentro de las áreas cubiertas por el sistema.
            </p>

            <p>
                La uniformidad observada en la distribución STI valida los criterios de cobertura, separación y
                orientación implementados durante el desarrollo de la ingeniería electroacústica
            </p>
            <div class="grid-2" style="gap: 12px; grid-template-columns: repeat(1, 1fr); margin-top: 10px;">

                <div class="visual-container" style="padding: 6px; margin-bottom: 0; justify-content: center;">
                    <img src="{{ images['historigrama_sti'] }}" alt="Simulación SPL 1"
                        style="width: 100%; height: 100%; object-fit: contain;">
                    <span class="visual-caption" style="font-size: 0.65rem; margin-top: 4px; font-weight: 600;">Fig
                        2.2: Cobertura STI</span>
                </div>

            </div>
        </section>

        <p style="margin-top: 25px;">Los resultados estadísticos obtenidos mediante simulación electroacústica
            muestran una distribución uniforme
            tanto de niveles SPL como de inteligibilidad STI dentro de las áreas operativas consideradas.
        </p>

        <p>Las desviaciones estándar obtenidas indican comportamiento homogéneo del sistema, minimizando zonas
            críticas
            de baja cobertura o inteligibilidad insuficiente.
        </p>

        <p>Los resultados presentan correlación adecuada con los cálculos teóricos desarrollados para potencia,
            sensibilidad, distancia de cobertura y características de directividad de los altavoces seleccionados.
    </main>

    <footer class="page-footer">
        <span class="confidential">Confidencial - STAV Electronica</span>
        <span>Página 11</span>
    </footer>
</div>