{% extends 'base.html' %}

{% block content %}

{% include 'sections/01-cover.html' %}
{% include 'sections/02-objetivo.html' %}
{% include 'sections/03-alcance.html' %}
{% include 'sections/04-descripcion.html' %}
{% include 'sections/05-criterios_diseno.html' %}
{% include 'sections/06-arquitectura_red_cableado.html' %}
{% include 'sections/07-equipos_principales.html' %}
{% include 'sections/08-equipos_productos.html' %}
{% include 'sections/09-calculos_diseno.html' %}
{% include 'sections/10-CCA-80D.html' %}
{% include 'sections/11-resultados_spl_exterior.html' %} <!-- this have the 6.3 intro -->
{% include 'sections/12-mapas_spl.html' %}
{% include 'sections/13-cargas_amplificacion.html' %}
{% include 'sections/13,5-cargas.html' %}
{% include 'sections/13,6-cargas.html' %}
{% include 'sections/13-imagenes_spl.html' %}
{% include 'sections/14-resultados_sti.html' %}
{% include 'sections/15-imagenes_sti.html' %}

{% include 'sections/16-conclusiones.html' %}

{% endblock %}