{% extends 'base.html' %}

{% block content %}

{% include 'sections/cover.html' %}
{% include 'sections/objetivo.html' %}
{% include 'sections/description.html' %}
{% include 'sections/criterios_diseno.html' %}
{% include 'sections/arquitectura_red_cableado.html' %}
{% include 'sections/resultados_spl_interior.html' %}
{% include 'sections/resultados_spl_exterior.html' %}
{% include 'sections/mapas_spl.html' %}
{% include 'sections/imagenes_spl.html' %}
{% include 'sections/resultados_sti.html' %}
{% include 'sections/imagenes_sti.html' %}
{% include 'sections/equipos_principales.html' %}
{% include 'sections/equipos_productos.html' %}
{% include 'sections/conclusiones.html' %}

{% endblock %}