<div class="page">
    <header class="page-header">
        <span class="brand">Direcsa</span>
        <span class="doc-info">SISTEMA DE VOCEO Y PAGING | Rev. A</span>
    </header>

    <main>
        <section style="margin-bottom: 24px;">
            <div class="product-grid" style="margin-top: 24px;">
                <div class="product-card">
                    <img src="{{ images['voltera_a6002'] }}" alt="Amplificador voltera a600.2" class="product-image" />
                    <div class="product-desc">
                        <strong>Amplificador voltera a600.2</strong>:
                        <p style="font-size: 10px;">
                            Amplificador de potencia compacto de dos canales y medio rack con
                            una potencia de salida total de 600 vatios, los canales se pueden
                            seleccionar individualmente para impulsar 300 vatios por canal a 4 ohmios, 8 ohmios, 70 V o
                            100 V, permite la distribución de energía permitiendo entregar hasta 600
                            vatios por cualquier canal, la certificación Energy Star garantiza que estos amplificadores
                            consumen menos energía sin comprometer su potente distribución de sonido y capacidades de
                            refuerzo.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="page-footer">
        <span class="confidential">Confidencial - STAV Electronica</span>
        <span>Página 10</span>
    </footer>
</div>