<!-- PAGINA 11: Imagenes de sti -->
<div class="page">
    <header class="page-header">
        <span class="brand">Direcsa</span>
        <span class="doc-info">SISTEMA DE VOCEO Y PAGING | Rev. A</span>
    </header>

    <main>
        <section>
            <br><br>
            <br><br>
            <br><br>

            <div class="grid-2" style="gap: 12px; grid-template-columns: repeat(1, 1fr); margin-top: 10px;">

                <div class="visual-container" style="padding: 6px; margin-bottom: 0; justify-content: center;">
                    <img src="{{ images['sti3'] }}" alt="Simulación SPL 1"
                        style="width: 100%; height: 100%; object-fit: contain;">
                    <span class="visual-caption" style="font-size: 0.65rem; margin-top: 4px; font-weight: 600;">Fig
                        2.3: Cobertura STI</span>
                </div>

            </div>
        </section>




    </main>

    <footer class="page-footer">
        <span class="confidential">Confidencial - STAV Electronica</span>
        <span>Página 20</span>
    </footer>
</div>