<!-- PAGINA 11: Imagenes de sti -->
<div class="page">
    <header class="page-header">
        <span class="brand">Direcsa</span>
        <span class="doc-info">SISTEMA DE VOCEO Y PAGING | Rev. A</span>
    </header>

    <main>
        <section>
            <div class="grid-2" style="gap: 12px; grid-template-columns: repeat(1, 1fr); margin-top: 10px;">

                <div class="visual-container" style="padding: 6px; margin-bottom: 0; justify-content: center;">
                    <img src="{{ images['histograma_sti'] }}" alt="Simulación SPL 1"
                        style="width: 100%; height: 100%; object-fit: contain;">
                    <span class="visual-caption" style="font-size: 0.65rem; margin-top: 4px; font-weight: 600;">Fig
                        2.3: Histograma STI</span>
                </div>

            </div>
        </section>
        <br><br><br>
        <section>
            <div class="table-wrapper" style="margin-bottom: 16px;">
                <table>
                    <thead>
                        <tr>
                            <th>Parámetro de Inteligibilidad</th>
                            <th>Índice de Transmisión (STI)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>STI Promedio</strong></td>
                            <td style="font-weight: 700; color: var(--primary);">0.616</td>
                        </tr>
                        <tr>
                            <td><strong>STI Máximo</strong></td>
                            <td style="font-weight: 700; color: var(--primary);">0.0.883</td>
                        </tr>
                        <tr>
                            <td><strong>STI Mínimo</strong></td>
                            <td style="font-weight: 700; color: var(--primary);">0.000</td>
                        </tr>
                        <tr>
                            <td><strong>Desviación Estándar</strong></td>
                            <td style="font-weight: 700; color: var(--primary);">0.079</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>


    </main>

    <footer class="page-footer">
        <span class="confidential">Confidencial - STAV Electronica</span>
        <span>Página 16</span>
    </footer>
</div>