<div class="page">
    <header class="page-header">
        <span class="brand">Direcsa</span>
        <span class="doc-info">SISTEMA DE VOCEO Y PAGING | Rev. A</span>
    </header>

    <main>
        <section>
            <h2><span class="sec-index">09 / </span>Cálculo de cargas de amplificación</h2>
            <br>
            <p>
                <strong>Descripción:</strong>
                <br>
                <br>
                La distribución de cargas fue desarrollada considerando la potencia seleccionada en cada transformador
                de
                línea 100 V, verificando que la suma de las potencias conectadas por canal permanezca dentro de la
                capacidad
                nominal del amplificador. El sistema integra 3 amplificadores <strong>Biamp ALC-1604D</strong> y 2
                amplificadores <strong>Biamp Voltera A 600.2</strong>.
                <br>
                <br>
                La potencia total conectada en cada canal se determina mediante:
            </p>

            <div class="math-block">
                <div class="math-formula"><i>P<sub>canal</sub></i> = <i> N </i> X <i>P<sub>altavoz</sub></i></div>
            </div>
            <p>
                Donde:
                <br>
                - <i>P<sub>canal</sub></i>: potencia total conectada en el canal
                <br>
                - <i>N</i>: número de altavoces conectados
                <br>
                - <i>P<sub>altavoz</sub></i>: potencia seleccionada en cada altavoz
            </p>

            <h4><span class="sec-index">09,1 / </span>Distribución de cargas por amplificador</h4>
            <p><strong>Amplificador 1 — Biamp ALC-1604D</strong></p>
            <p>Capacidad del amplificador:

                4×1600=6400W

                <br> <br>
                Canal 1
                <br> <br>
                10 altavoces CCA-80D
                <br>
                Tap seleccionado: 50W
                <br>
                Carga total: P = 10 × 50 = 500W
            </p>
            <p>Porcentaje de utilización:</p>
            <div class="math-block">
                <div class="math-formula">500 / 1600 × 100 = 31.25%</div>
            </div>
        </section>
    </main>

    <footer class="page-footer">
        <span class="confidential">Confidencial - STAV Electronica</span>
        <span>Página 22</span>
    </footer>
</div>
