<div class="page">
    <header class="page-header">
        <span class="brand">Direcsa</span>
        <span class="doc-info">SISTEMA DE VOCEO Y PAGING | Rev. A</span>
    </header>

    <main>
        <section>

            <p>Canal 2 <br><br>
                6 altavoces CCA-80D <br>
                Tap: 50W <br>
                Carga:
            </p>
            <div class="math-block">
                <div class="math-formula">P = 6 × 50 = 300W</div>
            </div>
            <p>
                Utilización: 18.75% <br>
            </p>
            <div class="math-block">
                <div class="math-formula">300 / 1600 x 100 = 18.75%</div>
            </div>
            <p>
                Canal 3 <br><br>
                6 altavoces CCA-80D <br>
            </p>
            <div class="math-block">
                <div class="math-formula">P=6×50=300W</div>
            </div>
            <br>

            <p>
                Utilización: 18.75%
                <br>
            </p>
            <div class="math-block">
                <div class="math-formula">300 / 1600 x 100 = 18.75%</div>
            </div>
            <p>
                Canal 4 <br><br>

                11 altavoces R.15-3696
                <br>

                P=11×100=1100W
                <br>
                <br>

                Utilización: 68.75%
                <br>
                <br>
            <div class="math-block">
                <div class="math-formula">1100 / 1600 x 100 = 68.75%</div>
            </div>
            </p>
        </section>
    </main>

    <footer class="page-footer">
        <span class="confidential">Confidencial - STAV Electronica</span>
        <span>Página 18</span>
    </footer>
</div>