<div class="page">
    <header class="page-header">
        <span class="brand">Direcsa</span>
        <span class="doc-info">SISTEMA DE VOCEO Y PAGING | Rev. A</span>
    </header>

    <main>
        <section>
            <p>
                Canal 3
                <br> <br>
                5 altavoces
                <br>
                Tap seleccionado: 100W
                <br>
                Carga total: P = 5 × 100 = 500W
            </p>
            <p>Porcentaje de utilización:</p>
            <div class="math-block">
                <div class="math-formula">500 / 1600 × 100 = 31.25%</div>
            </div>
            <p>
                Canal 4
                <br> <br>
                8 altavoces
                <br>
                Tap seleccionado: 100W
                <br>
                Carga total: P = 8 × 100 = 800W
            </p>
            <p>Porcentaje de utilización:</p>
            <div class="math-block">
                <div class="math-formula">800 / 1600 × 100 = 50.00%</div>
            </div>
            <p>Carga total Amplificador 2</p>
            <div class="math-block">
                <div class="math-formula">500+500+500+800 = 2300W</div>
            </div>
            <p>Utilización total del amplificador:</p>
            <p>
                Canal 1: 10×50=500W (31.25%)<br>
                Canal 2: 10×50=500W (31.25%)<br>
                Canal 3: 5×100=500W (31.25%)<br>
                Canal 4: 8×100=800W (50.00%)<br><br>
                Carga total: 500+500+500+800 = 2300W
            </p>
            <div class="math-block">
                <div class="math-formula">2300 / 6400 × 100 = 35.9%</div>
            </div>

        </section>
    </main>

    <footer class="page-footer">
        <span class="confidential">Confidencial - STAV Electronica</span>
        <span>Página 20</span>
    </footer>
</div>
