<div class="page">
    <header class="page-header">
        <span class="brand">Direcsa</span>
        <span class="doc-info">SISTEMA DE VOCEO Y PAGING | Rev. A</span>
    </header>

    <main>
        <section>
            <p><strong>Amplificador 3 — Biamp ALC-1604D</strong></p>
            <p>Capacidad del amplificador:

                4×1600=6400W

                <br> <br>
                Canal 1
                <br> <br>
                4 altavoces R.15-3696
                <br>
                Tap seleccionado: 100W
                <br>
                Carga total: P = 4 × 100 = 400W
            </p>
            <p>Porcentaje de utilización:</p>
            <div class="math-block">
                <div class="math-formula">400 / 1600 × 100 = 25.00%</div>
            </div>
            <p>
                Canal 2
                <br> <br>
                10 altavoces R.15-3696
                <br>
                Tap seleccionado: 100W
                <br>
                Carga total: P = 10 × 100 = 1000W
            </p>
            <p>Porcentaje de utilización:</p>
            <div class="math-block">
                <div class="math-formula">1000 / 1600 × 100 = 62.50%</div>
            </div>
            <p>
                Canal 3
                <br> <br>
                Sin carga asignada
                <br>
                Carga total: P = 0 W
            </p>
            <p>Porcentaje de utilización:</p>
            <div class="math-block">
                <div class="math-formula">0 / 1600 × 100 = 0.00%</div>
            </div>
            

        </section>
    </main>

    <footer class="page-footer">
        <span class="confidential">Confidencial - STAV Electronica</span>
        <span>Página 26</span>
    </footer>
</div>
