<div class="page">
    <header class="page-header">
        <span class="brand">Direcsa</span>
        <span class="doc-info">SISTEMA DE VOCEO Y PAGING | Rev. A</span>
    </header>

    <main>
        <section>
            <p>
                Canal 4
                <br> <br>
                Sin carga asignada
                <br>
                Carga total: P = 0 W
            </p>
            <p>Porcentaje de utilización:</p>
            <div class="math-block">
                <div class="math-formula">0 / 1600 × 100 = 0.00%</div>
            </div>
            <p>
                Canal 1: 4×100=400W (25.00%)<br>
                Canal 2: 10×100=1000W (62.50%)<br>
                Canal 3: Sin carga asignada (0 W).<br>
                Canal 4: Sin carga asignada (0 W).<br><br>

                Carga total: 400+1000 = 1400W
                <br><br>
                Utilización:
            </p>
            <div class="math-block">
                <div class="math-formula">1400 / 6400 × 100 = 21.8%</div>
            </div>

            <p><strong>Amplificador 4 — Biamp Voltera A 600.2</strong></p>
            <p>Capacidad del amplificador:

                2×300=600W

                <br> <br>
                Canal 1
                <br> <br>
                2 altavoces CCA-80D
                <br>
                Tap seleccionado: 50W
                <br>
                Carga total: P = 2 × 50 = 100W
            </p>
            <p>Porcentaje de utilización:</p>
            <div class="math-block">
                <div class="math-formula">100 / 300 × 100 = 33.3%</div>
            </div>
            

        </section>
    </main>

    <footer class="page-footer">
        <span class="confidential">Confidencial - STAV Electronica</span>
        <span>Página 27</span>
    </footer>
</div>
