<div class="page">
    <header class="page-header">
        <span class="brand">Direcsa</span>
        <span class="doc-info">SISTEMA DE VOCEO Y PAGING | Rev. A</span>
    </header>

    <main>
        <section>
            <p>
                Canal 2
                <br> <br>
                6 altavoces
                <br>
                Tap seleccionado: 30W
                <br>
                Carga total: P = 6 × 30 = 180W
            </p>
            <p>Porcentaje de utilización:</p>
            <div class="math-block">
                <div class="math-formula">180 / 300 × 100 = 60.0%</div>
            </div>
            <p>
                Canal 1: 7×30=210W (70.0%)<br>
                Canal 2: 6×30=180W (60.0%)<br><br>
                Carga total: 210+180 = 390W
                <br><br>
                Utilización:
            </p>
            <div class="math-block">
                <div class="math-formula">390 / 600 × 100 = 65.0%</div>
            </div>

            <p>Como se puede verificar en las tablas de carga por amplificador, ninguna excede la capacidad máxima de
                potencia de cada equipo. Para el Amplificador 3, dado que los canales 3 y 4 están vacíos, existe un
                margen significativo de expansión para futuras zonas de altavoces sin necesidad de agregar más
                amplificadores.
            </p>
            <br><br>
            <h4><span class="sec-index">09,2 / </span>Cálculo de cargas de amplificación</h4>

            <br>
            <p><strong>Amplificador 1 — Biamp ALC-1604D</strong></p>
            <p>
                Carga total: P = 1750 W
            </p>
            <p>
                Corriente total de salida:
            </p>

            <div class="math-block">
                <div class="math-formula"><i>I</i> = 1750W / 100V = 17.5A</div>
            </div>
            

        </section>
    </main>

    <footer class="page-footer">
        <span class="confidential">Confidencial - STAV Electronica</span>
        <span>Página 24</span>
    </footer>
</div>
