<div class="page">
    <header class="page-header">
        <span class="brand">Direcsa</span>
        <span class="doc-info">SISTEMA DE VOCEO Y PAGING | Rev. A</span>
    </header>
    <main>
        <section>
            <br><br>
            <p>Para determinar la suspensi&oacute;n necesaria, se utiliza la siguiente f&oacute;rmula:</p>
            
            <div class="math-block">
                <div class="math-formula"><i>F</i> = <i>m</i> × <i>g</i> = 32&nbsp;kg × 9.8&nbsp;m/s&sup2; =
                    313.6&nbsp;N</div>
            </div>
            <p>Factor de seguridad recomendado 5:1</p>
            
            <div class="math-block">
                <div class="math-formula"><b>F<sub>diseño</sub></b> = Carga<sub>real</sub> &times; FS = 32 kgf &times; 5
                    = <b>160 kgf</b></div>
            </div>
            
            <br>
            <p>
                <strong>Recomendaci&oacute;n: </strong> Esp&aacute;rrago M12
            </p>
            <br><br><br>
            <h2><span class="sec-index">10 /</span> CONCLUSIONES</h2>
            <p>Con base en las simulaciones electroacústicas realizadas, el sistema propuesto presenta una cobertura
                uniforme y niveles adecuados de inteligibilidad para aplicaciones de voceo y paging dentro del
                Centro de Distribución.</p>
            <p>La selección de altavoces con patrón de cobertura controlado permitió optimizar la relación entre
                sonido directo y campo reverberante, mejorando las condiciones de inteligibilidad en comparación con
                soluciones convencionales de cobertura amplia.</p>
            <p>Los resultados obtenidos mediante simulación predictiva SPL y STI indican que el sistema propuesto es
                técnicamente viable para las necesidades operativas del proyecto.</p>
            <p>La implementación sobre infraestructura Dante y plataforma Tesira permite una arquitectura escalable
                y flexible para futuras ampliaciones, integración de nuevas estaciones de voceo y monitoreo
                centralizado del sistema.</p>
        </section>
    </main>
    <footer class="page-footer">
        <span class="confidential">Confidencial - STAV Electronica</span>
        <span>Página 33</span>
    </footer>
</div>